<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.BusinessOrderMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.sysUser.BusinessOrder">
    <id column="business_no" jdbcType="VARCHAR" property="businessNo" />
    <result column="order_info" jdbcType="VARCHAR" property="orderInfo" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="member_cellphone" jdbcType="VARCHAR" property="memberCellphone" />
    <result column="order_sum" jdbcType="INTEGER" property="orderSum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="evaluate" jdbcType="VARCHAR" property="evaluate" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="provider_id" jdbcType="VARCHAR" property="providerId" />
    <result column="provider_name" jdbcType="VARCHAR" property="providerName" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="produt_id" jdbcType="VARCHAR" property="produtId" />
    <association property="member" javaType="com.datangedu.cn.model.sysUser.Member" resultMap="memDo"/>
    <association property="produt" javaType="com.datangedu.cn.model.sysUser.ProviderProdut" resultMap="produtDo"/>
    
  </resultMap>
  <resultMap type="com.datangedu.cn.model.sysUser.Member" id="memDo">
  <id column="id" property="id" jdbcType="VARCHAR"/>
  <result column="name" property="name" jdbcType="VARCHAR"/>  
  </resultMap>
  <resultMap type="com.datangedu.cn.model.sysUser.ProviderProdut" id="produtDo">
  <id column="id" property="id" jdbcType="VARCHAR"/>
  <result column="price" property="price" jdbcType="VARCHAR"/>
  <result column="service_name" property="serviceName" jdbcType="VARCHAR"/> 
  <result column="provider_name" property="providerName" jdbcType="VARCHAR"/>  
  <result column="service_info" property="serviceInfo" jdbcType="VARCHAR"/>  
     
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    business_no, order_info, member_id, member_name, member_cellphone, order_sum, create_time, 
    evaluate, pay_type, status, provider_id, provider_name, order_num, produt_id
  </sql>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by create_time desc
    <!-- <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    
    </if> -->
  </select>
  <select id="selectByUser" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
   select
    *
    from business_order,member
    where
    business_order.member_id=member.id
    order by business_order.create_time desc
    <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    </if> 
  </select>
   <select id="selectByOther" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
   select
     business_no, order_info, member_id, member_name, member_cellphone, order_sum,
     evaluate, pay_type,order_num,business_order.provider_id,business_order.status,
     business_order.produt_id,provider_produt.price,provider_produt.service_name,
     provider_produt.provider_name,business_order.create_time,provider_produt.service_info
    from business_order,provider_produt
    where
    business_order.produt_id=provider_produt.id
    order by status desc
   <!--  <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    </if> -->
  </select>
    <select id="selectByPay" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">

      select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectNoByLike" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select
    *
    from business_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    and business_no like '%${likeName}%'
    order by create_time
    <!-- <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    
    </if> -->
  </select>
  
  <select id="selectByCommon" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
   select
    *
    from business_order,member
    where business_order.member_id=member.id
    and provider_id like '%${providerid}%'
    and business_order.status=2 
   <!--  <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    </if> -->
  </select>
  <select id="selectByStop" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select
    *
    from business_order,member
    where business_order.member_id=member.id
    and provider_id like '%${providerid}%'
    and business_order.status=1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_order
    where business_no = #{businessNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByLikeInfo" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select
    *
    from business_order,member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    and order_info like '%${likeName}%'
    and provider_id like '%${providerid}%'
    and business_order.status=2 
    order by business_order.create_time
   <!--  <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    
    </if> -->
  </select>
  <select id="selectByLikeInfoStop" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select
    *
    from business_order,member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    and order_info like '%${likeName}%'
    and provider_id like '%${providerid}%'
    and business_order.status=1
    order by business_order.create_time
   <!--  <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    
    </if> -->
  </select>
   <select id="selectByLike" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select 
    *
    from business_order,member
    where business_no like '%${likeName}%'
    and  business_order.member_id=member.id
    order by business_order.create_time
    <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    
    </if>
  </select>
  <select id="selectByToday" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select 
    *
    from business_order
    where TO_DAYS(create_time)=TO_DAYS(NOW())
    order by create_time
    <!-- <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    </if> -->
  </select>
  <select id="selectByWeek" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select 
    *
    from business_order
    where YEARWEEK(DATE_FORMAT(create_time,'%Y-%m-%d'))=YEARWEEK(NOW())
    order by create_time
    <!-- <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    </if> -->
  </select>
  <select id="selectByMonth" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultMap="BaseResultMap">
    select 
    *
    from business_order
    where DATE_FORMAT(create_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
    order by create_time
   <!-- <if test="pageSize>=0">
    limit ${pageSize},${pageNum}
    </if> -->
  </select>
  <select id="selectBySum" resultType="java.lang.Integer">
    select sum(order_sum) allSum from business_order
  </select>
  <select id="selectByTodaySum" resultType="java.lang.Integer">
    select sum(order_sum) allSum from business_order
    where TO_DAYS(create_time)=TO_DAYS(NOW())
  </select>
  <select id="selectByWeekSum" resultType="java.lang.Integer">
    select sum(order_sum) allSum from business_order
    where YEARWEEK(DATE_FORMAT(create_time,'%Y-%m-%d'))=YEARWEEK(NOW())
  </select>
  <select id="selectByMonthSum" resultType="java.lang.Integer">
    select sum(order_sum) allSum from business_order
    where DATE_FORMAT(create_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from business_order
    where business_no = #{businessNo,jdbcType=VARCHAR}  
  </delete>
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample">    
    delete from business_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.datangedu.cn.model.sysUser.BusinessOrder">
    insert into business_order (business_no, order_info, member_id, 
      member_name, member_cellphone, order_sum, 
      create_time, evaluate, pay_type, 
      status, provider_id, provider_name, 
      order_num, produt_id)
    values (#{businessNo,jdbcType=VARCHAR}, #{orderInfo,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{memberCellphone,jdbcType=VARCHAR}, #{orderSum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{evaluate,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{providerId,jdbcType=VARCHAR}, #{providerName,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{produtId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.sysUser.BusinessOrder">
    insert into business_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessNo != null">
        business_no,
      </if>
      <if test="orderInfo != null">
        order_info,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="memberCellphone != null">
        member_cellphone,
      </if>
      <if test="orderSum != null">
        order_sum,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="evaluate != null">
        evaluate,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="providerId != null">
        provider_id,
      </if>
      <if test="providerName != null">
        provider_name,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="produtId != null">
        produt_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessNo != null">
        #{businessNo,jdbcType=VARCHAR},
      </if>
      <if test="orderInfo != null">
        #{orderInfo,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberCellphone != null">
        #{memberCellphone,jdbcType=VARCHAR},
      </if>
      <if test="orderSum != null">
        #{orderSum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluate != null">
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="providerId != null">
        #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="providerName != null">
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="produtId != null">
        #{produtId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.sysUser.BusinessOrderExample" resultType="java.lang.Long">
    select count(*) from business_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update business_order
    <set>
      <if test="record.businessNo != null">
        business_no = #{record.businessNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderInfo != null">
        order_info = #{record.orderInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null">
        member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberCellphone != null">
        member_cellphone = #{record.memberCellphone,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSum != null">
        order_sum = #{record.orderSum,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.evaluate != null">
        evaluate = #{record.evaluate,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null">
        pay_type = #{record.payType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.providerId != null">
        provider_id = #{record.providerId,jdbcType=VARCHAR},
      </if>
      <if test="record.providerName != null">
        provider_name = #{record.providerName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.produtId != null">
        produt_id = #{record.produtId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update business_order
    set business_no = #{record.businessNo,jdbcType=VARCHAR},
      order_info = #{record.orderInfo,jdbcType=VARCHAR},
      member_id = #{record.memberId,jdbcType=VARCHAR},
      member_name = #{record.memberName,jdbcType=VARCHAR},
      member_cellphone = #{record.memberCellphone,jdbcType=VARCHAR},
      order_sum = #{record.orderSum,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      evaluate = #{record.evaluate,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      provider_id = #{record.providerId,jdbcType=VARCHAR},
      provider_name = #{record.providerName,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      produt_id = #{record.produtId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datangedu.cn.model.sysUser.BusinessOrder">
    update business_order
    <set>
      <if test="orderInfo != null">
        order_info = #{orderInfo,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberCellphone != null">
        member_cellphone = #{memberCellphone,jdbcType=VARCHAR},
      </if>
      <if test="orderSum != null">
        order_sum = #{orderSum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluate != null">
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="providerId != null">
        provider_id = #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="providerName != null">
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="produtId != null">
        produt_id = #{produtId,jdbcType=VARCHAR},
      </if>
    </set>
    where business_no = #{businessNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByNo" parameterType="com.datangedu.cn.model.sysUser.BusinessOrder">
    update business_order
    set evaluate = #{evaluate,jdbcType=VARCHAR}
    where business_no = #{business_no,jdbcType=VARCHAR}
  </update>
  <update id="updateByBuNo" parameterType="com.datangedu.cn.model.sysUser.BusinessOrder">
    update business_order
    set pay_type = #{val,jdbcType=INTEGER},
    status=1
    where business_no = #{business_no,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datangedu.cn.model.sysUser.BusinessOrder">
    update business_order
    set order_info = #{orderInfo,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      member_cellphone = #{memberCellphone,jdbcType=VARCHAR},
      order_sum = #{orderSum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      evaluate = #{evaluate,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      provider_id = #{providerId,jdbcType=VARCHAR},
      provider_name = #{providerName,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      produt_id = #{produtId,jdbcType=VARCHAR}
    where business_no = #{businessNo,jdbcType=VARCHAR}
  </update>
</mapper>